
/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 0 auto;
	padding: 0;
	min-width: 100%;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	border: none;
	left: 0;
	background: transparent;
}

.bx-viewport {
	min-width: 100%;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../img/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 0;
	z-index: 999;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: transparent;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ffffff;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #fff;
	border: 1px solid #fff;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: -8rem;
	background: url(../img/controls-alt.png) no-repeat 0 0;
	background-size: 200%;
	
}

.bx-wrapper .bx-next {
	right: -8rem;
	background: url(../img/controls-alt.png) no-repeat -47px 0;
	background-size: 200%;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-next:hover {
	opacity: 0.7;
}



.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../img/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../img/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

/****************************************************************/
/*** Bx Slider Support ***/
/****************************************************************/
.bx-slider {
	overflow: hidden;
	min-width: 10px;
}

.bx-slider-reviews {
	width: 100%;
	margin: 0 auto;
}

.bx-slider li {
	position: relative;
	margin: 0 auto;
}

.bx-slider-reviews li {
	position: relative;
	margin: 0;
}

.bx-slider li#one {
	background: #fff url(../img/slider/slider1.jpg) no-repeat center 0;
	-webkit-background-size: 	cover;
	-moz-background-size: 		cover;
	-o-background-size: 		cover;
	background-size: 			cover;
	max-width: 100%;
	width: 100%;
}

.bx-slider li#two {
	background: #fff url(../img/slider/slider2.jpg) no-repeat center 0;
	-webkit-background-size: 	cover;
	-moz-background-size: 		cover;
	-o-background-size: 		cover;
	background-size: 			cover;
	min-width: 10px;
	max-width: 100%;
	width: 100%;
}

.bx-slider li#three {
	background: #fff url(../img/slider/slider3.jpg) no-repeat center 0;
	-webkit-background-size: 	cover;
	-moz-background-size: 		cover;
	-o-background-size: 		cover;
	background-size: 			cover;
	min-width: 10px;
	max-width: 100%;
	width: 100%;
}

.bx-slider li#four {
	background: #fff url(../img/slider/slider4.jpg) no-repeat center 0;
	-webkit-background-size: 	cover;
	-moz-background-size: 		cover;
	-o-background-size: 		cover;
	background-size: 			cover;
	min-width: 10px;
	max-width: 100%;
	width: 100%;
}


/* Slider One */
.bx-slider li#one .boxed {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* Slider two */
.bx-slider li#two .boxed {
	display: block;
	width: 100%;
	min-width: 10px;
	max-width: 1280px;
	margin: 0 auto;
	padding: 150px 0 0 100px;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

}


.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 40%;
	margin-top: 0;
	outline: 0;
	width:  47px;
	height: 47px;
	text-indent: -9999px;
	z-index: 999;
	opacity: 1;
	
	-webkit-transition: 	opacity 0.3s ease-in-out;
	-moz-transition: 		opacity 0.3s ease-in-out;
	-ms-transition: 		opacity 0.3s ease-in-out;
	-o-transition: 			opacity 0.3s ease-in-out;
	transition: 			opacity 0.3s ease-in-out;
}


@media only screen and (max-width : 1380px) {
	.bx-wrapper .bx-prev {
		left: -5rem;
	}
	
	.bx-wrapper .bx-next {
		right: -5rem;
	}
}

@media only screen and (max-width : 1275px) {
	.bx-wrapper .bx-prev {
		left: 0rem;
	}
	
	.bx-wrapper .bx-next {
		right: 0rem;
		left: 4rem;
	}
	
	.bx-wrapper .bx-controls-direction a {
		top: 95%;
	}
}

@media only screen and (max-width : 1199px) {
	
	.bx-wrapper .bx-controls-direction a {
		top: 100%;
	}
}

@media only screen and (max-width : 767px) {
	.bx-controls-direction {
		position: relative;
		display: block;
		width: 50%;
		height: 47px;
		margin: 1rem auto 2rem auto;
	}
	
	.bx-wrapper .bx-prev {
		left: 0rem;
	}
	
	.bx-wrapper .bx-next {
		right: 0rem;
		left: initial;
	}
}

