html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

:focus {
    /* remember to define focus styles! */
    outline: 0;
}

html {
    min-width: 10px;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-appearance: none;
}

body {
    line-height: 1;
}

p {
    margin: 1rem 0;
}

sup {
    vertical-align: super;
    font-size: 14px;
}

ol,
ul {
    list-style: none;
}

table {
    /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

blockquote {
    font-family: 'Open Sans', serif;
    padding: 0 3rem;
    border-left: 3px solid #ebebeb;
    margin: 3rem;
    font-size: 28px;
    text-align: left;
    font-weight: normal;
}

blockquote span {
    font-style: italic;
    font-weight: normal;
}

blockquote p {
    margin: 10px 0 !important;
}

em,
i {
    font-style: italic;
}

hr {
    border-width: 0;
}

hr {
    border: 0;
    clear: both;
    height: 1px;
    background: #bdbdbd;
    margin: 3em 0;
}

hr.style-eight {
    font-family: 'Open Sans';
    padding: 0;
    border: none;
    color: #072859;
    text-align: center;
}

hr.style-eight::after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

a img {
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a img {
    border: 0;
}

img,
a img {}

.alignleft {
    float: left;
    margin: 10px 30px 20px 0;
}

.alignright {
    float: right;
    margin: 10px 0 20px 30px;
}

.aligncenter {
    float: none;
    margin: 15px auto !important;
    display: block;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* Mobile Nav Icon Buttons */

.mobile-nav {
    position: absolute;
    top: 0.75rem;
    z-index: 999;
}

.mobile-nav li {
    display: inline-block;
}

.mobile-nav li a {
    color: #7D8589;
    padding: 10px 0.5rem;
    margin: 0 0.125rem;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.mobile-nav li a i {
    font-size: 24px;
}

.mobile-nav li a:hover {
    color: #DDEBBD;
}


/*** Structures and Defaults
****************************************************************/

body {
    background-color: #fff;
    background-attachment: scroll;
    text-align: left;
    color: #65696e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
    line-height: 1.5;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

#main {
    background-color: #fff;
    width: 100%;
    min-height: 700px;
    padding-bottom: 0;
    display: block;
    position: relative;
    margin: 0;
}


/*** Fonts and Social Media ICOs
****************************************************************/

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?i38w3y');
    src: url('fonts/icomoon.eot?i38w3y#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?i38w3y') format('truetype'), url('fonts/icomoon.woff?i38w3y') format('woff'), url('fonts/icomoon.svg?i38w3y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
    content: "\78";
}

.icon-blogger:before {
    content: "\62";
}

.icon-facebook:before {
    content: "\66";
}

.icon-linkedin:before {
    content: "\69";
}

.icon-yelp:before {
    content: "\70";
}

.icon-instagram:before {
    content: "\72";
}

.icon-twitter:before {
    content: "\74";
}

.icon-foursquare:before {
    content: "\75";
}

.icon-vimeo:before {
    content: "\76";
}

.icon-youtube:before {
    content: "\79";
}

.icon-pinterest:before {
    content: "\64";
}

.icon-tumblr:before {
    content: "\77";
}


/*** Typography
****************************************************************/

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: 400;
    word-wrap: break-word;
    font-family: 'Quicksand', serif;
    text-transform: none;
    margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5F6369;
    text-transform: uppercase;
}

#content h1,
#content h2,
#content h3 {
    border-bottom: none;
}

h1 {
    font-size: 2.625em;
}

h1 {
    padding: 0 0 5px;
    font-size: 64px;
}

h1 a {
    text-decoration: none;
    display: block;
}

h2 {
    padding: 0 0 5px;
    font-size: 38px;
}

h3 {
    padding: 0 0 5px;
    font-size: 32px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

.wp-caption-text {
    text-align: center;
}

.wp-caption-text span {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}


/*** Links
****************************************************************/

a {
    color: $theme-accent-color;
    font-weight: normal;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #333;
    outline: 0;
    text-decoration: none;
}

::-moz-selection {
    background: #D3DFB8;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #D3DFB8;
    color: #fff;
    text-shadow: none;
}

a.button:after {
    content: '';
}

.btn-primary,
a.btn-primary,
a.btn-secondary,
.widget .wpcf7 input[type="submit"],
#primary .wpcf7 input[type="submit"],
.float-box .wpcf7 input[type="submit"] {
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /*     padding: 1rem 3rem; */
    color: #7d8589;
    border: 1px solid #7d8589;
    margin: 2rem 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    text-transform: uppercase;
    white-space: normal;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    letter-spacing: 2px;
}

.btn-primary:hover,
a.btn-primary:hover,
a.btn-primary:focus,
.widget .wpcf7 input[type="submit"]:hover,
#primary .wpcf7 input[type="submit"]:hover,
.float-box .wpcf7 input[type="submit"]:hover {
    background: #7d8589 !important;
    color: #fff;
    border: 1px solid #7d8589;
    cursor: pointer;
    outline: 0;
}

.float-box .wpcf7 input[type="submit"] {
    background: #262626;
    color: #fff;
}

.btn-secondary,
a.btn-secondary,
#respond input#submit {
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    color: #0C739E;
    border: 2px solid #0C739E;
    text-transform: uppercase;
}

.btn-secondary:hover,
a.btn-secondary:hover,
a.btn-secondary:focus,
#respond input#submit:hover {
    background: #fff;
    border: 2px solid #e0e0e0;
    color: #0C739E;
}

.slider .btn,
.slider a.btn {
    background: $theme-accent-color;
    color: #fff;
    border: 2px solid $theme-accent-color;
    font-weight: 400;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.slider .btn:hover,
.slider a.btn:hover,
.slider a.btn:focus,
.slider a.btn:active:focus,
.slider a.btn:active {
    background: transparent !important;
    color: $theme-accent-color;
    border: 2px solid $theme-accent-color;
}

.widget .wpcf7 input[type="submit"] {
    width: 100% !important;
    height: 75px;
    margin-top: 0.5em !important;
}

.float-box {
    background: $theme-accent-color;
    position: fixed;
    z-index: 99999;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    right: -60%;
    top: 25%;
    width: 60%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.float-box.hidden-reveal {
    position: fixed;
    z-index: 99999;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    right: 0;
    top: 25%;
    width: 60%;
}

.float-box p {
    color: #fff;
    text-align: center;
    margin: 0 0 1em 0;
}

.float-box address {
    color: #fff;
    font-weight: 400;
}

.float-box a.clicker {
    font-family: 'Open Sans', sans-serif;
    background: transparent url("img/clicker.png") no-repeat scroll left top;
    background-size: 58px 100%;
    position: absolute;
    display: block;
    height: 100%;
    left: -58px;
    top: 0;
    color: #fff;
}

.float-box a.clicker span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    position: relative;
    display: block;
    top: 47%;
    right: 20px;
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-transform: uppercase;
    font-weight: 400;
}

.float-box a.clicker span:before {
    content: '◂ ';
    display: block;
    position: absolute;
    left: 40px;
    top: 12px;
    font-size: 32px;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

.float-box img {
    height: auto;
    display: block;
}

.float-box .wpcf7 p {
    width: 100%;
    float: left;
    display: block;
    position: relative;
    margin: 0 0 0.5em 0;
}

.float-box .wpcf7 input,
.float-box .wpcf7 textarea {
    color: #333;
    text-transform: lowercase;
    font-size: 14px;
    width: 100%;
    padding: 8px;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.float-box .wpcf7 input[type="submit"] {
    margin: -3px 0px 0px;
    display: block;
}

.float-box .wpcf7 img.ajax-loader {
    position: absolute;
    z-index: 999;
    top: 6px;
    right: 12px;
}

.float-box .wpcf7 textarea {
    height: 75px;
    resize: none;
}

.float-box address p,
.float-box address a {
    text-align: left;
}

.float-box address a,
.float-box .links a {
    color: #fff;
}

.float-box .links a {
    display: block;
    font-size: 18px;
    padding: 2.45rem 0;
    border-bottom: 1px solid #fff;
}

.float-box .links a:last-child {
    border: 0;
}

.float-box .links a::before {
    content: '» ';
    display: inline;
}

.float-box a:hover,
.float-box .links a:hover {
    text-decoration: underline;
}

.float-box .col {
    border-left: 1px solid #fff;
}

/*** Header ***/

#header {
    background: transparent;
    position: relative;
    z-index: 9999;
}

#header .container-fluid {
	background: #fff;
}

#contact-bar p,
#contact-bar p a {
  color: #7d8589;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-weight: 300;
}

#contact-bar p a:hover {
  color: #D3DFB8;
}

#contact-bar p a {
  font-size: 24px;
}

@media only screen and (max-width : 1280px) {
  #contact-bar p a {
    font-size: 20px;
  }
}

#social,
#main-nav {
  padding: 1rem 0;
}

#social {
  padding-bottom: 0;
}

#header .social-icons,
#contact-bar p {
  margin: 0;
}

#social::after {
  content: '';
  position: relative;
  display: block;
  bottom: 0;
  margin-left: 15px;
  background: #d3dfb8;
  width: 90%;
  height: 1px;
  z-index: 999;
}

#site-logo {
    float: left;
    padding: 0 5px;
    margin: 0;
}

#site-meta {
    float: right;
    text-align: right;
    line-height: 16px;
    margin: 8px 15px 0 0;
}

#logo {
    background: transparent;
    position: relative;
}

#logo img {
    margin: 0 auto;
    display: block;
    height: auto;
    padding: 1rem 2rem;
}

.inside-page .stuck.scrolled #logo {
    opacity: 1;
}

#logo h1 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
}

#logo h1 a {
    margin: 0;
}

.site-name {
    display: block;
    font-size: 2.063em;
    /* = 33px */
    line-height: 1.0em;
    padding-top: 20px;
}

.site-name a {
    color: #0C739E;
    font-weight: 700;
    font-size: 28px;
}

.site-description {
    color: #0e3087;
    display: block;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
}


/****************************************************************/


/*** Top Navigation ***/


/****************************************************************/

#access {
    /* For browsers that do not support gradients */
    display: block;
    width: 100%;
    position: relative;
    z-index: 9999;
}

#access,
.sf-menu,
.sf-menu a {
    height: 50px;
}

.sticky-wrapper {
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
}

.stuck {
	 background: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.sticky.scrolled {
	box-shadow: 			0px 2px 5px rgba(0,0,0,0.27);
	-moz-box-shadow: 		0px 2px 5px rgba(0,0,0,0.27);
	-webkit-box-shadow: 	0px 2px 5px rgba(0,0,0,0.27);
}

.sf-menu a {
    background: none;
    color: #7d8589;
    font-family: 'Quicksand', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    line-height: 50px;
    position: relative;
    padding: 0;
    text-decoration: none;
    zoom: 1;
    margin: 0 1.25rem;
    height: 50px;
}

.sf-menu a:hover {
    color: #333;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 1px solid #D3DFB8;
}

.hover {
    color: #333 !important;
    background-color: transparent !important;
    text-decoration: none;
    border-bottom: 1px solid #D3DFB8;
}

#access #searchform {
    float: right;
    width: 225px;
    padding: 5px 10px;
}

#access #searchform input[type="text"] {
    background: #5a606e;
    color: #fff;
    border: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 160px;
    padding: 7px;
}

#access #searchform input[type="submit"] {
    background: url(img/search-button.png) no-repeat left top;
    border: 0;
    padding: 5px;
    height: 26px;
    width: 40px;
}

#access #searchform input[value="Search"] {
    color: #232B3D;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}

#access #searchform input[type="submit"]:hover {
    opacity: 0.8;
    cursor: pointer;
}

.sf-menu,
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sf-menu li {
    position: relative;
}

.sf-menu ul {
    position: absolute;
    display: none;
    left: 0;
    z-index: 99;
    top: 66px;
}

.stuck .sf-menu ul {
    position: absolute;
    display: none;
    top: 66px;
    left: 0;
    z-index: 99;
}

.stuck .sf-menu ul ul {
    position: absolute;
    display: none;
    top: 0 !important;
    left: 0;
    z-index: 99;
    top: 55px;
}

.sf-menu>li {
    float: none;
    padding-bottom: 3rem;
    /* For Hover */
    display: inline-block;
    margin-left: 0;
}

.sf-menu>li:hover {
    cursor: pointer;
}

.sf-menu li:hover>ul,
.sf-menu li.sfHover>ul {
    display: block;
}

.sf-menu ul ul {
    background: #7D8589;
    top: 0;
    left: 100% !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.sf-menu ul ul ul {
    background: #555;
}

.sf-menu ul ul ul li a:hover {
    background: #fff !important;
    color: #111 !important;
}


/*** point all arrows down ***/

.sf-arrows.sf-navbar ul .sf-with-ul:after {
    margin-top: -3px;
    margin-right: 0;
    border-color: transparent;
    border-top-color: #dFeEFF;
    /* edit this to suit design (no rgba in IE8) */
    border-top-color: rgba(255, 255, 255, .5);
}

.sf-arrows.sf-navbar ul>li>.sf-with-ul:focus:after,
.sf-arrows.sf-navbar ul>li:hover>.sf-with-ul:after,
.sf-arrows.sf-navbar ul>.sfHover>.sf-with-ul:after {
    border-color: transparent;
    border-top-color: white;
}

.sf-menu {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-left: 0%;
}

.sf-menu ul {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 3px 6px 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 3px 6px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 3px 6px 6px rgba(0, 0, 0, .3);
    min-width: 12em;
    /* allow long menu items to determine submenu width */
    *width: 12em;
    /* no auto sub width for IE7, see white-space comment below */
    ;
}

.sf-menu ul ul li a {
    color: #fff !important;
}

.sf-menu ul ul li a:hover {
    color: #fff !important;
    background: #333 !important;
}

.sf-menu>li:first-child>a {
    border-left: 0;
}

.sf-menu>li:last-child a {}

.sf-menu li.current_page_item a,
.sf-menu li.current_menu_item a {}

.sf-menu li {
    background: none;
    white-space: nowrap;
    /* no need for Supersubs plugin */
    *white-space: normal;
    /* ...unless you support IE7 (let it wrap) */
    height: auto;
}

.sf-menu ul li a,
.sf-menu ul li:first-child a {
    background: none;
}

.sf-menu li li a:hover {
    background: #D3DFB8 !important;
    color: #fff !important;
    border: 0 !important;
}

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu li:hover a,
.sf-menu li.sfHover a {
    /* only transition out, not in */
    -webkit-transition: none;
    transition: none;
}


/*** arrows (for all except IE7) **/

.sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em;
    /* no CSS arrows for IE7 (lack pseudo-elements) */
    ;
}


/* styling for both css and generated arrows */

.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    /* order of following 3 rules important for fallbacks to work */
    border: 5px solid transparent;
    border-top-color: #dFeEFF;
    /* edit this to suit design (no rgba in IE8) */
    border-top-color: rgba(255, 255, 255, .5);
}

.sf-arrows>li>.sf-with-ul:focus:after,
.sf-arrows>li:hover>.sf-with-ul:after,
.sf-arrows>.sfHover>.sf-with-ul:after {
    border-top-color: white;
    /* IE8 fallback colour */
    ;
}


/* styling for right-facing arrows */

.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #dFeEFF;
    /* edit this to suit design (no rgba in IE8) */
    border-left-color: rgba(255, 255, 255, .5);
}

.sf-arrows ul li>.sf-with-ul:focus:after,
.sf-arrows ul li:hover>.sf-with-ul:after,
.sf-arrows ul .sfHover>.sf-with-ul:after {
    border-left-color: white;
}

.sf-menu li li a,
.stuck .sf-menu li li a {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #4f595f;
    line-height: 1;
    text-transform: none;
    padding: 10px 15px;
    height: auto;
    margin: 0;
    text-align: left;
    border: 0;
}

/*** Content ***/

#one-column,
#def-column {
    background: #FFF;
    width: 100%;
    display: block;
}

#one-column #primary {
    margin: 0 auto;
    position: relative;
    display: block;
    float: none;
}

#one-column .container {
    padding-top: 35px;
}

#primary {
    position: relative;
}

#primary strong,
strong {
    font-weight: bold;
}


.post-entry img {
    padding: 0px;
    max-width: 100%;
    height: auto;
    border: 0;
}

#primary h1.entry-title {
    background: none;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 48px;
    line-height: 1;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    position: relative;
    text-align: left;
}

#primary .content-wrapper {
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

#primary ul,
#primary ol {
    margin: 0;
    padding: 0 0 0px 30px;
    list-style: disc;
    color: #333;
    font-size: 18px;
    margin-bottom: 1em;
}

#primary ul ul {
    margin: 0;
    padding: 0 0 0 20px;
    list-style: disc;
}

#primary ul li {
    padding-left: 2px;
    list-style: disc;
}

#primary ol li {
    padding-left: 2px;
    list-style: decimal;
}

#primary li li {
    list-style: disc;
}

#primary img {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.home #primary a {
    text-decoration: none;
}

.home #primary a.btn {
    margin: 2rem 0;
}

#primary a {
    text-decoration: none;
}

.home #primary a.button {
    float: left;
}

#primary a img {
    border: 5px solid #ebebeb;
}

#primary a:hover img {
    opacity: 0.8;
}


/*** SECTIONS ***/
/*** Home Section ***/


section.home-content {
    background: #fff;
    background-size: cover;
    padding: 2rem 0;
    position: relative;
}

section.home-content .container,
section.home-content .container-fluid {
    position: relative;
    z-index: 3;
}

section.home-content #primary h1,
.featured-title {
    font-family: 'Quicksand', serif;
    font-size: 60px;
    font-weight: 300;
    color: #7d8589;
    line-height: 1.25;
    display: block;
    padding-bottom: 0 0 1rem 0;
    margin: 0 auto 1rem auto;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0;
}

section.home-content #primary h1 span,
.featured-title span {
    font-size: 30px;
    display: block;
    text-transform: none;
    border-top: 1px solid #d3dfb8;
    padding-top: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

section.home-content #primary h2 span {
    display: block;
}

section.home-content #primary p,
.home section p {
	color: #7d8589;
	line-height: 1.6;
}

.lime-border {
	border-bottom: 1px solid #D3DFB8 !important;
}

.lime-border-top {
	border-top: 1px solid #D3DFB8 !important;
}

@media only screen and (max-width : 991px) {
	.lime-border {
		border-bottom: 0 !important;
	}

}

/* Meet Doc */

section.meet {
	padding: 2rem 0;
}


/*** Call to Actions ***/

section.call-to-actions {
	padding: 3rem 0;
}

@media only screen and (min-width : 1366px) {
	section.call-to-actions .container {
		width: 1560px;
		max-width: 100%;
	}
}

section.call-to-actions .cta a {
	box-shadow: 			0px 0px 0px 0px rgba(90, 91, 95, 0);
	-moz-box-shadow: 		0px 0px 0px 0px rgba(90, 91, 95, 0);
	-webkit-box-shadow: 	0px 0px 0px 0px rgba(90, 91, 95, 0);
	top: 0;
}

section.call-to-actions .cta,
section.call-to-actions .cta a,
section.call-to-actions .cta a h4,
section.call-to-actions .cta a img {
	-webkit-transition: all 0.3s ease-in-out;
	transition: 		all 0.3s ease-in-out;
}

section.call-to-actions .cta a,
section.call-to-actions .cta a .box {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

section.call-to-actions .cta a:hover {
	box-shadow: 			0px 16px 22px 0px rgba(90, 91, 95, 0.3);
	-moz-box-shadow: 		0px 16px 22px 0px rgba(90, 91, 95, 0.3);
	-webkit-box-shadow: 	0px 16px 22px 0px rgba(90, 91, 95, 0.3);
	top: -5px;
}

section.call-to-actions .cta a .box h4 {
	color: #5f6369;
	font-size: 22px;
	text-align: center;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	padding: 1.5rem 0;
	top: 3rem;
	z-index: 3;
	letter-spacing: 3px;
}

section.call-to-actions .cta a:hover .box h4 {
	background: rgba(255, 255, 255, 1);
	letter-spacing: 5px;
}

section.call-to-actions .cta a .box img {
	position: relative;
}

section.call-to-actions .cta a:hover .box img {
	-ms-transform: 		scale(1.1); /* IE 9 */
	-webkit-transform: 	scale(1.1); /* Safari */
	transform: 			scale(1.1);
}

/* Reviews */

section.review {
	padding: 3rem 0;
}

section.review blockquote {
	font-family: 'Open Sans', serif;
	color: #7d8589;
	padding: 0;
	border-left: 0;
	margin: 0;
	font-size: 18px;
	text-align: left;
	font-weight: normal;
	font-style: italic;
	line-height: 2;
}

section.review blockquote span {
	font-style: normal;
	font-weight: bold;
	display: block;
	position: relative;
	padding-top: 1.5rem;
	margin-top: 1.5rem;
}

section.review blockquote span::before {
	content: '';
	display: block;
	height: 1px;
	width: 20px;
	background: #333;
	position: absolute;
	top: 0;
}

section.review .bx-slider,
section.review .bx-slider li,
section.review .bx-wrapper {
    height: auto;
}


/*** Contact ***/


section.contact {
    background: #fff;
    padding: 4rem 0;
}

section.contact .f-cols {
	padding: 0;
}

section.contact a.hover-box,
section.contact a.hover-box .box-title,
section.contact a.hover-box .box-title h4,
section.contact a.hover-box .box-title h4::after,
section.contact a.hover-box .map-img img,
section.contact .contact-info p a {
	-webkit-transition: 	all 0.3s ease-in-out;
	transition: 			all 0.3s ease-in-out;
}

section.contact .contact-info {
	background: #ddebbd url(img/dr-q-big.png) no-repeat center center;
	background-size: cover;
	position: relative;
	width: 100%;
	padding: 20% 1rem;
	margin: 0;
}


section.contact .contact-info h3,
section.contact .contact-info p a {
	font-size: 60px;
	color: #7d8589;
	font-weight: 300;
	margin: 0;
	padding: 0;
}


section.contact .contact-info p a:hover,
section.contact .contact-info p a.hovered {
	color: #000;
}

section.contact .contact-info p,
section.contact .contact-info p a {
	font-family: 'Quicksand', serif;
	font-weight: 300;
	font-size: 30px;
	text-transform: uppercase;
}

section.contact .location-img {
	position: relative;
}

section.contact a.hover-box .box-title {
	background: rgba(51, 51, 51, 0.55);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	opacity: 0;
}

section.contact a.hover-box:hover .box-title,
section.contact a.hover-box.hovered .box-title {
	opacity: 1
}

section.contact a.hover-box .map-img {
	background: #DDEBBD;
	opacity: 1;
}

section.contact a.hover-box:hover .map-img img,
section.contact a.hover-box.hovered .map-img img {
	opacity: 0.8;
}

section.contact a.hover-box .box-title h4.l-space {
	letter-spacing: 5px;
}

section.contact .aligner {
	position: relative;
	height: 100%;
}

section.contact a.hover-box .box-title h4 {
    font-family: 'Quicksand', serif;
    font-size: 36px;
    text-shadow: 0px 0px 5px #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
}

section.contact a.hover-box .box-title h4::after {
	content: '';
	background: #DDEBBD;
	width: 0;
	height: 1px;
	display: block;
	margin: 1rem auto;
}

section.contact a.hover-box:hover .box-title h4::after,
section.contact a.hover-box.hovered .box-title h4::after  {
	width: 100px;
}

section.contact img.map {
    width: 100%;
    height: auto;
}

section.contact .contact-info address {
	font-family: 'Quicksand', Times, serif;
	color: #7d8589;
	font-size: 18px;
	line-height: 1.6;
	margin-top: 2rem;
}

section.contact a.tel {
    display: block;
}

section.contact a.tel:hover {
    text-decoration: underline;
}

section.contact .highlight a {
    font-weight: 700;
    font-size: 24px;
}

section.contact address a {
    color: #555;
    font-weight: 600;
    font-size: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

section.contact address a span {
    font-weight: 700;
    font-size: 24px;
}

section.contact .highlight a:hover,
section.contact address a:hover {
    color: #0C739E;
}

/*** Creds *** --------------------------- */

section.creds {
	padding: 3rem 0 5rem 0;
}

section.creds a img {
	-webkit-transition: 	all 0.2s ease-in-out;
	transition: 			all 0.2s ease-in-out;

	-webkit-filter: grayscale(1);
	filter: grayscale(1);

	opacity: 0.7;

	-ms-transform: 		scale(0.9); /* IE 9 */
	-webkit-transform: 	scale(0.9); /* Safari */
	transform: 			scale(0.9);
}

section.creds a:hover img {
	-ms-transform: 		scale(1); /* IE 9 */
	-webkit-transform: 	scale(1); /* Safari */
	transform: 			scale(1);

	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


/*** Sidebar */

#secondary {
    background-color: transparent;
}

#primary,
#secondary {
    margin: 35px 0;
}

#secondary .content-wrapper {
    background: transparent;
}

.home #secondary .content-wrapper {
    border: none;
}

#secondary aside {
    background: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 5%;
    width: 100%;
}

#secondary aside p {
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 18px;
}

#secondary .widget h3 {
    text-transform: none;
    padding: 5px;
    margin: 15px;
    font-size: 26px;
    font-weight: 300;
}

h3.widget-title {
    display: block;
    margin: 0 0 10px 0;
    position: relative;
    text-transform: uppercase;
}

#secondary .widget h3 {
    text-transform: uppercase;
    padding: 0;
    margin: 15px 0 15px 15px;
    font-size: 26px;
    font-weight: normal;
    text-align: left;
    position: relative;
    overflow: hidden;
}


/* Secondary Columns Styles */

#secondary .widget ul {
    padding: 10px;
}

#secondary .widget li {
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0;
    word-wrap: break-word;
}

#secondary .widget li li {
    margin: 0 0 0 10px;
    padding: 1px 0;
    list-style: none;
}

#secondary .widget li {
    margin: 6px 0;
    text-align: left;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#secondary .widget li a {
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-transform: none;
    font-weight: normal;
    line-height: 1.5em;
    padding-left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#secondary .widget li a::before {
    content: '• ';
}

#secondary .widget li a:hover::before {
    content: '• ';
}

#secondary .widget li li a {
    font-size: 26px;
}

#secondary .widget li li a {
    background: none;
}

#secondary .widget li li a::before {
    font-size: 12px;
}

#secondary ul.menu li a {
    background-color: #000;
    border-left: 9px solid #e1e1e1;
    float: left;
    width: 308px;
    height: 110px;
    margin: 8px 0;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}

#secondary ul.menu li:first-child a {
    margin-top: 15px;
}

#secondary ul.menu li a:hover {
    border-left: 9px solid #cc3;
}


/*** Widgets ***/

#widgets {
    margin-top: 40px;
}

.tagcloud {
    padding: 0 35px;
}

#widgets a {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#widgets form {
    margin: 0;
}

#widgets ul,
#widgets ol {
    padding: 0 0 0 20px;
}

#widgets ul li a {
    display: inline;
    text-decoration: none;
}

#widgets .widget-title img {
    float: right;
    height: 11px;
    position: relative;
    top: 4px;
    width: 11px;
}

#widgets .rss-date {
    line-height: 18px;
    padding: 6px 12px;
}

#widgets .rssSummary {
    padding: 10px;
}

#widgets cite {
    font-style: normal;
    line-height: 18px;
    padding: 6px 12px;
}

#widgets .tagcloud,
#widgets .textwidget {
    display: block;
    line-height: 1.5em;
    margin: 0;
    word-wrap: break-word;
}

.textwidget {
    line-height: 20px;
}

.textwidget p.dedicated {
    color: #C00;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.textwidget .dedicated span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

.textwidget img {
    margin: 0 auto;
    display: block;
}

.textwidget a.button {
    margin: 0 auto;
    bottom: 25px;
    position: absolute;
    margin-left: 60px;
}

.textwidget h5 {
    font-family: 'Verdana', Verdana, Geneva, sans-serif;
    margin: 0;
    color: #609ab5;
    font-size: 16px;
    font-weight: bold;
}

.textwidget h5 span {
    font-family: 'Verdana', Verdana, Geneva, sans-serif;
    margin: 0;
    color: #222;
    font-size: 14px;
    font-weight: normal;
}

#widgets .textwidget a {
    display: inline;
}

#widgets ul .children {
    padding: 0 0 0 10px;
}

#widgets .author {
    font-weight: 700;
    padding-top: 4px;
}

.widget_archive select,
#cat {
    display: block;
    margin: 0 15px 0 0;
}

.widget-title a {
    border-bottom: none;
    padding: 0 !important;
}


/*** Footer *******/

#footer {
    position: relative;
    z-index: 0;
    display: block;
    float: left;
    width: 100%;
    text-align: center;
}

.home #footer {
    position: relative;
    z-index: 3003;
}

#footer-info {
    width: 100%;
    float: left;
    position: relative;
    height: auto;
    ;
    background: #fff;
    text-align: left;
    padding: 0;
}

#footer-widgets {
    background-color: #ebebeb;
    height: 380px;
    position: relative;
    display: block;
    clear: both;
}

#footer-widgets .wrapper {
    overflow: hidden;
}

#footer-widgets .widget {
    float: left;
    width: 322px;
    height: auto;
    padding: 10px 10px 10px 20px;
    margin: 0 10px 10px 10px;
    background: transparent url(img/sep.png) no-repeat left 40px;
}

#footer-widgets .widget:first-child {
    background: none;
    border: none;
}

#footer-widgets h3.widget-title {
    color: #629080;
    text-transform: none;
    font-size: 30px;
    margin: 5px 0 10px 0;
}

#footer-widgets h3.widget-title.blue {
    color: #619bb7;
}

.home #footer-widgets .aside-container {
    width: 1270px;
    margin: 0 auto;
}

#footer-widgets .aside-container {
    width: 1100px;
    margin: 0 auto;
}

#footer-widgets .widget.contact,
#footer-widgets .widget.directions {
    width: 500px;
}

#footer-widgets .widget.directions {
    background: transparent url(img/map.jpg) no-repeat right center;
}

#footer-widgets .widget.locations {}

#footer-widgets .widget.locations a {
    background: url(img/map-icon.png) no-repeat left center;
    color: #629080;
    text-decoration: underline;
    font-size: 12px;
    padding: 22px;
}

#footer-widgets .widget.locations a:hover {
    color: #609AB5;
}

#footer-nav {
    font-size: 12px;
    padding: 0;
    overflow: hidden;
}

#footer-nav li {
    display: inline;
}

#footer-nav a {
    padding: 0;
    text-decoration: none;
}

#footer-nav a:hover {
    text-decoration: none;
}

#primary .wpcf7 textarea,
#primary .wpcf7 input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #aaaaaa;
    width: 100%;
}

#primary.wpcf7 textarea {
    float: none;
    height: 160px;
    margin: 0;
}

#primary .wpcf7 p {
    font-family: 'Open Sans', Helvetica, sans-serif;
    float: left;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#primary .wpcf7 input,
#primary.wpcf7 textarea {
    float: left;
    display: block;
    width: 100%;
    height: 40px;
    margin: 0;
    border: 1px solid #aaaaaa;
}

#primary .wpcf7 input[type="submit"] {
    height: auto;
}

#primary .wpcf7 input[type="checkbox"] {
    border: 0;
    width: auto;
}

.footer .wpcf7 textarea,
.footer .wpcf7 input {
    padding: 5px;
    font-size: 16px;
}

.footer .wpcf7 textarea {
    float: none;
    width: 160px;
    height: 160px;
    margin: 0;
    border: none;
}

.footer .wpcf7 input {
    float: left;
    display: block;
    width: 208px;
    height: 40px;
    margin: 0 10px 10px 0;
    border: none;
}


/*** Footer Menu
****************************************************************/

.home .footer {
    background: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    width: 100%;
    height: auto;
    color: #072859;
    font-size: 14px;
    padding: 2em 0;
    margin: 0;
    top: 0;
    display: block;
    z-index: 99;
    float: left;
}

.footer {
    background: #ccd5e3;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccd5e3), to(#fff));
    background: linear-gradient(#ccd5e3, #fff);
    font-family: 'Open Sans', Helvetica, sans-serif;
    width: 100%;
    height: auto;
    color: #072859;
    font-size: 14px;
    padding: 2em 0;
    margin: 0;
    top: 0;
    display: block;
    z-index: 99;
    float: left;
}

.footer p {
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 25px 0 0 0;
    line-height: 1.2em;
}

.footer p span {
    color: #d5d4cf;
    font-style: italic;
}

.footer .wrapper {
    margin: 0 auto;
    width: 100%;
    min-width: 10px;
    max-width: 1366px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
    color: #4e6889;
}

#footer-nav {
    margin: 0 auto;
    padding: 5px 0;
    text-align: left;
    width: 100%;
}

#footer-nav .nav {
    display: block;
    margin: 0;
}

#footer-2 #footer-nav li {
    display: block;
}

#footer-nav li {
    clear: none;
    display: block;
    list-style-type: none;
    margin: 0 auto;
    float: none;
    padding: 0;
}

#footer-nav li a {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: inline;
    color: #7d8589;
    font-size: 16px;
    text-decoration: none;
    text-transform: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#footer-nav li:first-child a {
    background: none;
}

.bottom {
    background: #ebebeb;
    color: #7d8589;
    width: 100%;
    position: relative;
    text-align: left;
    height: auto;
    font-weight: 400;
}

.bottom h4 {
    color: #7d8589;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
}

.bottom address,
.bottom address a {
    font-size: 16px;
}

.bottom address a {
    font-weight: 400;
}

.bottom a {
    color: #7d8589;
    font-size: 16px;
}

.bottom a:hover,
#footer-nav li a:hover,
.footer-copyright a:hover {
    color: $theme-accent-color;
}

#footer-nav li a:hover {
    background-color: transparent;
}

#footer-nav li:first-child {
    border-left: none;
}

#footer-nav li:last-child>a {}


/************Footer Features*************************************************/

.footer-copyright {
    background: #0a2e52;
    display: block;
    color: #fff;
    position: relative;
    clear: both;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 0;
}

.footer-copyright,
.footer-copyright a {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer-copyright .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-copyright p a {
    text-decoration: underline;
}


/*** Social Icons
****************************************************************/

.social-icons {
    display: inline-block;
    list-style: none;
    line-height: normal;
    padding: 0;
    margin: 0 0;
    text-align: left;
}

.social-icons li {
    display: inline-block;
    margin: 0;
    padding-right: 0.75rem;
    height: auto;
}

.social-icons li a {
    display: inline-block;
    font-family: 'icomoon';
    background: #0C739E;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    line-height: 1em;
    margin: 0.25rem;
}

header .social-icons li a {
    display: inline-block;
    font-family: 'icomoon';
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 1px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #7d8589;
    border: 1px solid #7d8589;
    font-size: 20px;
    padding: 10px;
    line-height: 1em;
    margin: 0;
}

@media only screen and (max-width: 1280px) {
  header .social-icons li a {
    font-size: 18px;
  }
}

header .social-icons li a:hover {
    background: $theme-accent-color;
    color: #fff;
border: 1px solid $theme-accent-color;
}

.contact .social-icons li a {
    font-family: 'icomoon';
    font-size: 18px;
    padding: 18px;
    color: #7d8589;
    background: transparent;
    border: 1px solid #7d8589;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    display: inline-block;
}

.contact .social-icons .icon-youtube {
    /*     width: 90px; */
}

.contact .social-icons li a:hover {
    color: #fff;
    background: #7d8589;
}

.contact .btn {
    padding: 1rem 0;
}

#social-bg {
    background: #f5f5f5;
    padding: 0;
}

.container .icon-yelp,
.container .icon-blogger,
.container .icon-vimeo,
.container .icon-youtube,
.container .icon-twitter,
.container .icon-facebook,
.container .icon-linkedin,
.container .icon-rss-feed,
.container .icon-instagram,
.container .icon-pinterest,
.container .icon-foursquare,
.container .icon-google-plus,
.container .icon-stumble-upon {
    display: inline;
}

.social-icons h2 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: left;
    line-height: 2px;
    color: white;
    padding-left: 0;
    font-size: 24px;
}

#footer-info .social-icons {
    list-style: none;
    line-height: normal;
    padding: 0 0;
    width: 100%;
    text-align: left;
}

.social h4 {
    margin-left: 150px;
    text-transform: uppercase;
    font-size: 18px;
    color: #552C92;
}

#footer-info .social-icons li {
    display: inline-block;
    margin: 1rem 1rem 0 0;
    padding: 0;
}

#footer-info .social-icons a {
    background: $theme-accent-color;
    color: #fff;
    border: 1px solid $theme-accent-color;
    padding: 9px;
    margin: 0;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

#footer-info .social-icons a:hover {
    background: #fff;
    color: $theme-accent-color;
    border: 1px solid $theme-accent-color;
}

#footer-info .icon-yelp,
#footer-info .icon-blogger,
#footer-info .icon-vimeo,
#footer-info .icon-youtube,
#footer-info .icon-twitter,
#footer-info .icon-facebook,
#footer-info .icon-linkedin,
#footer-info .icon-rss-feed,
#footer-info .icon-instagram,
#footer-info .icon-pinterest,
#footer-info .icon-foursquare,
#footer-info .icon-google-plus,
#footer-info .icon-stumble-upon {
    display: block;
}


/*** Breadcrumb Lists
****************************************************************/

.breadcrumb-list {
    font-size: 14px;
}


/*** Primary Content Styles
****************************************************************/

#primary article.post {
    margin: 0 0 15px;
}

.post-data {
    margin-bottom: 60px;
}

.post-meta {
    margin: 1em 0;
}

.entry-title {
    padding: 0 0 0.5em 0;
    margin: 0 0 0.5em 0;
}

.entry-content {
    padding: 0 0 35px 0;
}

.entry-content p {
    margin: 0 0 1.5em;
}

.entry-title {
    font-family: 'Quicksand', Helvetica, sans-serif;
    color: #0C739E;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}


/*** Blog Stylings
****************************************************************/

#nav-single {
    padding: 0 0 30px;
}

#nav-single .nav-previous {
    float: left;
}

#nav-single .nav-next {
    float: right;
}

.navigation {
    padding: 0 0 25px 0;
}

#comments-title {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2.6em;
    padding: 0 0 2.6em;
    text-transform: uppercase;
}

.nopassword,
.nocomments {
    color: #aaa;
    font-size: 24px;
    font-weight: 100;
    margin: 26px 0;
    text-align: center;
}

.commentlist {
    list-style: none;
    margin: 0 auto;
    width: 68.9%;
}

.commentlist li {
    list-style: none !important;
}

.content .commentlist,
.page-template-sidebar-page-php .commentlist {
    width: 100%;
    /* reset the width for the one-column and sidebar page layout */
    ;
}

.commentlist>li.comment {
    background: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 0 1.625em;
    padding: 1.625em !important;
    position: relative;
}

.commentlist .pingback {
    margin: 0 0 1.625em;
    padding: 0 1.625em;
}

.commentlist .children {
    list-style: none;
    margin: 0;
}

.commentlist .children li.comment {
    background: #fff;
    border-left: 1px solid #ddd;
    border-radius: 0 3px 3px 0;
    margin: 1.625em 0 0;
    padding: 1.625em !important;
    position: relative;
}

.commentlist .children li.comment .fn {
    display: block;
}

.comment-meta .fn {
    font-style: normal;
}

.comment-meta {
    color: #666;
    font-size: 12px;
    line-height: 2.2em;
}

.commentlist .children li.comment .comment-meta {
    line-height: 1.625em;
    margin-left: 50px;
}

.commentlist .children li.comment .comment-content {
    margin: 1.625em 0 0;
}

.comment-meta a {
    font-weight: bold;
}

.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {}

.commentlist .avatar {
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px #ccc;
    box-shadow: 0 1px 2px #ccc;
    left: -102px;
    padding: 0;
    position: absolute;
    top: 0;
}

.commentlist>li:before {
    content: url(img/comment-arrow.png);
    left: -21px;
    position: absolute;
}

.commentlist>li.pingback:before {
    content: '';
}

.commentlist .children .avatar {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: 2.2em;
    padding: 0;
    top: 2.2em;
}

a.comment-reply-link {
    background: #eee;
    border-radius: 3px;
    color: #666;
    display: inline-block;
    font-size: 12px;
    padding: 0 8px;
    text-decoration: none;
}

a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
    background: #888;
    color: #fff;
}

a.comment-reply-link>span {
    display: inline-block;
    position: relative;
    top: -1px;
}

.nocomments {
    display: none;
}


/* Post author highlighting */

.commentlist>li.bypostauthor {
    background: #ddd;
    border-color: #d3d3d3;
}

.commentlist>li.bypostauthor .comment-meta {
    color: #575757;
}

.commentlist>li.bypostauthor .comment-meta a:focus,
.commentlist>li.bypostauthor .comment-meta a:active,
.commentlist>li.bypostauthor .comment-meta a:hover {}

.commentlist>li.bypostauthor:before {
    content: url(img/comment-arrow-bypostauthor.png);
}


/* Post Author threaded comments */

.commentlist .children>li.bypostauthor {
    background: #ddd;
    border-color: #d3d3d3;
}


/* Comment Form */

#respond {
    background: #f5f5f5;
    border: 0;
    padding: 1.625em;
    overflow: hidden;
    position: relative;
}

#respond input[type="text"],
#respond textarea {
    background: #fff;
    border: 5px solid #eee;
    position: relative;
    padding: 10px;
    text-indent: 80px;
}

#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
    position: relative;
}

#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
    background: #eee;
    -webkit-box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
    box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
    color: #555;
    display: inline-block;
    font-size: 13px;
    left: 4px;
    min-width: 60px;
    padding: 4px 10px;
    position: relative;
    top: 40px;
    z-index: 1;
}

#respond input[type="text"]:focus,
#respond textarea:focus {
    text-indent: 0;
    z-index: 1;
}

#respond textarea {
    resize: vertical;
    width: 95%;
}

#respond .comment-form-author .required,
#respond .comment-form-email .required {
    color: #bd3500;
    font-size: 22px;
    font-weight: bold;
    left: 75%;
    position: absolute;
    top: 45px;
    z-index: 1;
}

#respond .comment-notes,
#respond .logged-in-as {
    font-size: 13px;
}

#respond p {
    margin: 10px 0;
}

#respond .form-submit {
    float: right;
    margin: -10px 0 0;
}

#respond input#submit {}

#respond input#submit:active {
    background: #3a4e7b;
    color: #FFFFFF;
}

#respond #cancel-comment-reply-link {
    color: #666;
    margin-left: 10px;
    text-decoration: none;
}

#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
    text-decoration: underline;
}

.commentlist #respond {
    margin: 1.625em 0 0;
    width: auto;
}

#reply-title {
    color: #373737;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

#cancel-comment-reply-link {
    color: #888;
    display: block;
    font-size: 10px;
    font-weight: normal;
    line-height: 2.2em;
    letter-spacing: 0.05em;
    position: absolute;
    right: 1.625em;
    text-decoration: none;
    text-transform: uppercase;
    top: 1.1em;
}

#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
    color: #ff4b33;
}

#respond label {
    line-height: 2.2em;
}

#respond input[type=text] {
    display: block;
    height: auto;
    width: 75%;
}

#respond p {
    font-size: 12px;
}

p.comment-form-comment {
    margin: 0;
}

.form-allowed-tags {
    display: none;
}

h1.page-title-cat {
    font-size: 30px !important;
}


/* ---------- Extended  ---------- */

.rpwe-block ul {}

.rpwe-block li {
    margin: 0 0 15px 0;
}

.rpwe-block a {
    display: inline!important;
    text-decoration: none;
    color: #333;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 95px;
    font-size: 16px;
}

.rpwe-block a.more-link {
    color: #fff;
    float: right;
    text-transform: lowercase;
    font-family: 'Open Sans', Verdana, Geneva, sans-serif;
    font-weight: normal;
}

.rpwe-block h3 {
    font-size: 16px;
    margin: 0;
}

.rpwe-thumb {}

.rpwe-summary {
    font-size: 14px;
    line-height: 18px;
}

.rpwe-time {}

.rpwe-alignleft {}

.rpwe-alignright {}

.rpwe-alignnone {}

.rpwe-clearfix:before,
.rpwe-clearfix:after {
    content: "";
    display: table;
}

.rpwe-clearfix:after {
    clear: both;
}

.rpwe-clearfix {
    zoom: 1;
}


/*** Search Form
****************************************************************/

#searchform {
    float: right;
    margin: 15px 0;
}

#secondary #searchform {
    float: none;
    position: relative;
    margin: 0;
}

#searchform input[type="text"] {
    border: 1px solid #ebebeb;
    padding: 10px;
    width: 100%;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#searchform input[type="text"]:focus {
    border: 1px solid rgba(103, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(103, 0, 0, 0.5);
    -moz-box-shadow: 0 0 2px rgba(103, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 2px rgba(103, 0, 0, 0.5);
}

#searchform button[type="submit"] {
    padding: 7px;
    background: transparent;
    border: 0;
    position: absolute;
    right: 10px;
}

#searchform button i {
    color: #fff;
    background: #333;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 9px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#searchform button:hover i {
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari */
    transform: rotate(45deg);
}


/*** Slideshow
****************************************************************/

#slideshow {
    position: relative;
}

#slideshow img {
    background: transparent !important;
    border: 0 !important;
}


/*** Sidebar Contact Form
****************************************************************/

#sidebar-contact-form input[type="text"],
#sidebar-contact-form textarea {
    width: 325px;
    padding: 5px;
    border: 1px solid #AAA;
}

#sidebar-contact-form textarea {
    height: 100px;
}

#sidebar-contact-form p {
    padding-bottom: 10px;
}

#sidebar-contact-form .row {
    margin: 0 0 10px;
}

.widget .wpcf7 .wpcf7-list-item-label,
.widget .wpcf7 .wpcf7-list-item-label a,
.widget .wpcf7 a {
    color: #666666;
    font-size: 12px;
}

.widget .wpcf7 .wpcf7-checkbox {
    margin-left: 0;
}

.widget .wpcf7 a {
    color: #666666;
    text-decoration: underline;
}

.widget .wpcf7 a:hover {
    color: #F7811B;
}

.widget .wpcf7 {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}

div.wpcf7-validation-errors {
    border: 2px solid #F7E700;
    color: red;
    background: white;
    z-index: 9999999999;
}

.widget .wpcf7 input,
.widget .wpcf7 textarea,
.widget .wpcf7 p#captcha {
    background: #fff;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #404040;
    border: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

#secondary .widget .wpcf7 input,
#secondary .widget .wpcf7 textarea,
#secondary .widget .wpcf7 p#captcha {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 7px;
    font-size: 16px;
    border: none;
    font-family: 'Open Sans', Helvetica, sans-serif;
    border: 1px solid #b3b3b3;
}

.widget .wpcf7 input[type="submit"],
#secondary .widget .wpcf7 input[type="submit"] {
    background: #0C739E;
    padding: 1em 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.widget .wpcf7 input,
.widget .wpcf7 textarea,
.wpcf7 p#captcha {
    margin: 7px 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), inset 0px 3px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), inset 0px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), inset 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.widget .wpcf7 input {
    float: left;
}

.widget .wpcf7 input:focus,
.widget .wpcf7 textarea:focus {}

.widget .wpcf7 input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.widget .wpcf7 textarea {
    height: 100px;
    float: left;
    resize: none;
}

.wpcf7 p#captcha {
    background: white;
    height: 26px;
    float: left;
    padding: 7px;
}

.wpcf7 input.captcha-input {
    float: right;
    height: 25px;
}

.widget .wpcf7 p {
    width: 100%;
    padding: 0 0 0 0;
    line-height: 1.2em;
    margin: 0 auto;
    float: left;
    display: block;
    clear: both;
    font-size: 12px;
    text-align: center;
}


/****************************************************************/


/*** Slider Support ***/


/****************************************************************/


 .home .slider,
.bx-slider,
.bx-slider li,
.bx-wrapper {
    height: 660px;
}

@media only screen and (min-width: 2050px) {
  .home .slider,
  .bx-slider,
  .bx-slider li,
  .bx-wrapper {
     height: 800px;
  }
}

.home .slider {
    background: #fff;
    background-position: center top;
    background-size: cover;
    position: relative;
    padding: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    border: 0;
    z-index: 99;
    margin-top: 170px;
}

@media only screen and (max-width : 600px) {
	.home .slider {
		background: #fff url(img/slider/slider1.jpg) no-repeat center center;
	}

	.home .slider .bx-slider {
		display: none !important;
	}
}

.home .slider li {
    background-position: center top;
    background-size: cover;
}

.home .slider .boxed {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;
}

.home .slider .boxed .container,
.home .slider .boxed .container .row,
.home .slider .boxed .container-fluid,
.home .slider .boxed .container-fluid .row {
  height: 100%;
  position: relative;
}

.slider .boxed .procedure-menu {
  font-family: 'Quicksand', Helvetica, sans-serif;
  display: none;
  position: absolute;
}

.slider .boxed .columned {
  height: 100%;
}

.slider .boxed .procedure-menu {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  padding-top: 8rem;
}

.slider .boxed h3,
.slider .boxed h4 {
  font-family: 'Quicksand', Helvetica, sans-serif;
}

.slider .boxed h3 {
  font-size: 36px;
  color: #fff;
  position: absolute;
  top: 67%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0px 0px 5px #000;
}

.slider .boxed h4 {
  font-size: 30px;
  font-weight: 300;
  color: #7d8589;
  margin: 0;
  padding: 0;
}

.slider .boxed h4::after {
  content: '';
  display: block;
  position: relative;
  width: 30px;
  margin: 1rem auto;
  background: $theme-accent-color;
  height: 1px;
}

.procedure-menu .featured-menu li {
  margin: 1.5rem 0;
}

.procedure-menu .featured-menu a {
  font-family: 'Quicksand', Helvetica, sans-serif;
  color: #7d8589;
  font-size: 18px;
  text-transform: uppercase;
}

.procedure-menu .featured-menu a:hover {
  color: $theme-accent-color;
}


/*** Inside Page Styling ***/

.bg-container {
    display: block;
    background: #fff center center;
    height: auto;
    background-size: cover;
    position: relative;
    width: 100%;
    margin-top: 175px;
    z-index: 0;
}

.bg-overlay {
    background: rgba(58, 68, 68, 0.6);
    position: relative;
    height: 100%;
    width: 100%;
}

.bg-container .entry-title {
    color: rgba(255, 255, 255, 0.9);
    padding: 10rem 0;
    font-weight: 600;
    letter-spacing: 0.5rem;
}


/*** Headroom ***/
.headroom {
    will-change: transform;
    -webkit-transition: -webkit-transform 200ms linear;
    transition: -webkit-transform 200ms linear;
    transition: transform 200ms linear;
    transition: transform 200ms linear, -webkit-transform 200ms linear;
}
.headroom--pinned {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}
.headroom--unpinned {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}




/*** OVERRIDES ***/


/****************************************************************/
.g-recaptcha {
    float: left;
    /* IE 9 */
    /* Safari */
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    width: 100%;
}
