//Mixins! Woohoo!

@mixin social-icons {
  & .social-icons {
    width: 100%;
    padding: 0.75rem 0;
    text-align: center;

    & li {
      padding-right: 0.35rem;

      a {
        margin: 0;
        padding: 8px;
        background: $theme-secondary-color;
        color: $white;
        font-size: 12px;
        border-radius: 50%;
        transition: all 0.33s ease;

        &:hover {
          background: $white;
          color: $theme-secondary-color;
        }
      }
    }
    @media screen and (max-width : 767px) {
      border: 0;
    }
    @content;
  }
}
